---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found | kona blog">
  <div class="text-center py-20">
    <img src="/images/404.jpeg" alt="ページが閲覧できずに悲しい顔をしている犬" class="mx-auto w-3/4" />
    <h1 class="text-2xl font-bold mt-8">404 Not Found</h1>
    <p class="mt-4">お探しのページは見つかりませんでした。</p>
    <a href="/" class="mt-8 inline-block underline">トップページへ戻る</a>
  </div>
</Layout>
