<header>
  <nav>
    <div
      class="max-w-screen border-b-1 flex flex-wrap items-center justify-between mx-auto pt-5 pb-5 max-[450px]:flex-col"
    >
      <div class="">
        <a
          href="/"
          class="flex items-center space-x-3 rtl:space-x-reverse hover:text-muted-foreground transition-all duration-200"
        >
          <img src="/favicon.svg" class="h-8 rounded-sm" alt="logo画像" />
          <span class="self-center text-2xl font-bold whitespace-nowrap">kona blog</span>
        </a>
      </div>

      <div class="w-auto max-[450px]:pt-5" id="navbar-default">
        <ul class="flex rounded-lg flex-row gap-3">
          <li>
            <a
              href="/"
              class="block select-none space-y-1 rounded-md p-3 leading-none no-underline outline-none transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground"
              aria-current="page">Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="block select-none space-y-1 rounded-md p-3 leading-none no-underline outline-none transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground"
              >About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
