---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <div class="py-10 prose">
    <slot />
  </div>
</Layout>
