---
import "styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "kona blog"}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
